@import "./settings.scss";

.profile-layout {
    display: flex;
    width: min(80%, 80rem);
}

.profile-pic {
    max-width: 25rem;
    max-height: auto;
    margin: auto;
}

.bio-text {
    color: $text-main;
    font-size: $font-md;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    line-height: 1.5;
    max-width: 37rem;
}

//small screen breakpoint
@media only screen and (max-width: 1120px) {
    .profile-layout {
        flex-direction: column;
    }
}

//mobile breakpoint
@media only screen and (max-width: $mobile-breakpoint) {
    .bio-text {
        padding: 0;
        margin: 1rem 0 0;
        background-color: unset;
        font-size: $font-sm;
    }
}
