.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
    padding: 0.75rem 1rem;
}

.home-link,
.link {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    align-self: center;
}

.home-link {
    font-size: 1.5rem;
}

.link {
    font-size: 1rem;
    color: #aaa;
}

.link:hover {
    color: #333333;
}

.link-box {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: block;
    }

    .link {
        display: block;
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        margin-right: 1.5rem;
    }

    .link:hover {
        color: whitesmoke;
    }
}
