@import "./settings.scss";

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 1.5rem 1.5rem;
}

.home-link,
.link {
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    align-self: center;
}

.home-link {
    font-size: $font-lg;
}

.link {
    font-size: $font-md;
    color: lighten($text-main, 15%);
}

.link:hover,
.active-link {
    color: $text-highlight;
}

.link-box {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .navbar {
        padding: 0;
        height: 3rem;
    }

    .home-link {
        padding: 0.75rem;
    }

    .link {
        display: block;
        font-size: $font-lg;
        padding-bottom: 0.75rem;
        margin-right: 1.5rem;
        color: darken($background-darker, 10%);
    }

    .link:hover {
        color: $background;
    }
}
