@import "./settings.scss";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.title {
    margin: 1rem 0 4rem;
    line-height: 1.15;
    font-size: $font-xxl;
    font-weight: 550;
    font-family: "Josefin Sans", sans-serif;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .title {
        font-size: $font-xl;
    }
}
