@import "./settings.scss";

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "title ."
        "image description";
    padding: 0 10% 2rem;
}

/*
.projects-container .project-wrapper:nth-child(odd) {
    background-color: $background-dark;
}
*/

.image-wrapper {
    grid-area: image;
    width: 100%;
    cursor: pointer;
}

.image-title {
    grid-area: title;
    font-size: $font-lg;
}

.image-description-box {
    grid-area: description;
    padding: 1rem;
}

.image-description {
    margin: 0 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 10px;
    font-size: $font-md;
}

.social-icon {
    max-height: 30px;
    max-width: 30px;
    margin: 4px;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .project-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "title"
            "image"
            "description";
    }

    .image-description-box {
        padding: 0;
    }

    .image-description {
        margin-top: 1rem;
        font-size: $font-sm;
    }

    .social-icon-box {
        width: 100%;
        text-align: center;
    }
}
