@import "./settings.scss";

.project-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 90%;
    grid-gap: 5px;
    margin: auto;
}

.image-wrapper {
    text-align: center;
}

.wood-project {
    width: 33%;
}

.project-box :nth-child(5n + 4),
.project-box :nth-child(5n + 0) {
    width: 50%;
}
