@import "./settings.scss";

$grid-col-spacing: 2rem;
$grid-row-spacing: 3rem;

.gallery-grid {
    display: flex;
    flex-direction: column;
    gap: $grid-row-spacing;
    max-width: min(1225px, 85%);
    margin: auto;
}

.gallery-row {
    display: grid;
    grid-gap: $grid-col-spacing;
}

.gallery-image {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover; //if proportions are off it crops instead of squeezing
}

.photo-caption {
    width: 100%;
    text-align: center;
}

.caption-text {
    color: $text-main;
    font-size: $font-xs;
    display: inline-block;
    text-align: left;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .gallery-grid {
        max-width: 70%;
    }

    .caption-text {
        font-size: $font-sm;
    }
}

@media only screen and (max-width: 425px) {
    .gallery-grid {
        max-width: 75%;
    }
}
